.card_product1{
    height: 650px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: antiquewhite;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.ItemImg{
    height: 240px;
    width: 150px;
}

.card_product1 > h2 {
    font-size: 22px;
    text-align: center;
}
.card_product1 > p{
    font-size: 18px;
    font-weight: 700;
    color: rgb(20, 20, 20);
}

.option{
    border-radius: 10px;
    background-color: rgb(238, 116, 116);
    font-size: 22px;
    color: white;
    padding: 10px;
}