
h6{
    color: aliceblue;
    font-weight: 300;
    padding: 5px;
    text-align: center;
}

.div_kart{
    align-items: center;
    display: flex;
}

.fa-cart-shopping  {
    width: 25px;
    height: 25px;
    padding: 20px;
}